@charset "UTF-8";

body{
  background-color: #232123 ; 
  color: white; 
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.minim{
    height: 900px;

}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
}

.sess-1{
    width: 300px;
}

.tit{
    font-size: 2em;
}

a{
color: white;
text-decoration: none;
padding: 10px;
}