@charset "UTF-8";



body{
  background-color: #232123 ; 
  color: #ffffff;
  font-family: poppinsregular; 
  
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header > h1{
    margin-left:120px ;
    line-height: 35px;
}

header > nav{
    margin-right: 100px;
    
}

header > nav > a{
padding: 30px;
font-size: 1.2em;
}

.minim{
    height: 800px;

}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
}

.sess-1{
    width: 650px;
}

.tit{
    font-size: 2em;
    line-height: 10px;
}

a{
color: white;
text-decoration: none;
padding: 10px;
}

.h1-1{
    white-space: nowrap;
    font-size: 2.0em;
    color: #00E93F;
}

.h1-2{
    font-size: 2.1em;
    margin-bottom: 60px;
}

.link-5{
    border: 2px solid #00E93F;
    border-radius: 10px;
    padding: 10px;

}

input{
    height: 55px;
    width: 65%;
    margin-top: 10px;
    margin-bottom:10px ;
    border-radius: 22px;
    border: none;
    padding-left: 15px;
}

.button{
    width: 50%;


}

.sub{
    color: white;
    background-color: #00E93F;
    font-size: 1.1em;
    font-weight: bold;
}

.sub:hover{
    background-color: #03631d;
}

